@media print {
    @page {
        size: A4;
    }

    body * {
        visibility: hidden;
    }

    .printable * {
        visibility: visible;
    }

    .printable {
        position: absolute;
        left: 0;
        top: 0;
    }
}